.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
}

.description {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border: 1px solid var(--mantine-color-gray-2);
  transition: transform 150ms ease, box-shadow 150ms ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: var(--mantine-shadow-md);
}

.cardTitle {
  font-family: Greycliff CF, var(--mantine-font-family);
}

.icon {
    margin-bottom: var(--mantine-spacing-md);
}
