.header {
  height: 60px;
  margin-bottom: 0px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.link:hover {
  background-color: #f1f3f5;
}
