.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
}

.description {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.skillName {
  font-family: Greycliff CF, var(--mantine-font-family);
}

.progressBar {
    transition: width 1000ms ease;
}
